<div class="jumbotron">
  <h1 class="display-4">{{stock.companyName}} ({{stock.symbol}})</h1>
  <hr class="my-4">
  <p>
        <strong>
        Latest Price: ${{stock.latestPrice}}</br>
        Previous close: ${{stock.previousClose}} </br>
        Percent change: {{stock.changePercent}}%</br>
        Market cap: ${{stock.marketCap}}</br>
        YTD Change: {{stock.ytdChange}}</br> 
        52 Week High: ${{stock.week52High}}</br>
        52 Week Low: ${{stock.week52Low}}</br> </strong>      
  </p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Back</a>
</div>


{{!-- <p>{{#each stock}}
    {{@key}} | {{this}}</br>
{{/each}}
</p>  --}}